body {
    background-image: url('img/water.png'), url('img/water.png');
    background-repeat: repeat-y;
    background-size: contain;
    animation: flow 10s linear infinite;
    margin: 10vh;
    background-position: left, right;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif !important;
    background-color: lightblue;
}

p {
    font-family: 'Georgia', 'Times';
    background-color: aliceblue;
}

section {
    background-color: darkturquoise;
    padding: 1rem;
    margin-bottom: 2rem;
}

main {
    background-color: wheat;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

header img {
    height: 5rem;
    margin-right: 1rem;
}

#rightSalmon {
   
  transform: scaleX(-1);
  margin-left: 1rem;
  height: 5rem;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

footer {
    background-color: lightgray;
    padding: 1rem;
    text-align: center;
}
