body {
    background-image: url('img/water.png'), url('img/water.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: left, right;
    animation: flow 10s linear infinite;
    margin: 10vh;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  #leftSalmon,
  #rightSalmon {
    height: 5rem;
  }
  
  #rightSalmon {
    transform: scaleX(-1);
    margin-left: 1rem;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather', serif !important;
    background-color: lightblue;
  }
  
  #patDisplay {
    background-color: transparent;
    font-size: 2.5rem;
  }
  
  main {
    background-color: wheat;
  }
  
  section {
    background-color: darkturquoise;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    text-decoration: underline;
  }
  
  p {
    font-family: 'Georgia', 'Times';
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  
  .form-group:nth-child(2) {
    margin-top: 0.5rem;
  }
  
  .form-group label,
  .form-group input {
    width: 45%;
    box-sizing: border-box;
    margin-right: 1rem;
  }
  
  .form-group label:last-child,
  .form-group input:last-child {
    margin-right: 0;
  }

  .product-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .left-cookie {
    margin-right: 1rem;
  }
  
  .right-cookie {
    margin-left: 1rem;
  }
  
  .product-description {
    flex-grow: 1;
  }
  
  .text-container {
    margin-top: 1rem;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  
  img.cookie {
    height: 50% !important;
    width: 50% !important;
  }
  
  footer {
    background-color: lightgray;
    padding: 1rem;
    text-align: center;
  }
  
#sales-data {
    max-height: 250px;
    padding-bottom: 50px;
}

#hourly-sales-data {
    max-height: 250px;
    overflow: scroll;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

#hourly-sales-data p {
    margin-bottom: 100px;
}